<div id="interface">

     <h4>Formas de Contato:</h4>
    
    <!-- contato do email-->
        <div class="img-texto">
            <img style="margin-top: 2px;padding-right: -20; margin-left: 14px;"
            src="assets/_imagens/icone-mensagem.png" alt="Logo da FAB">
        
        <p style=" margin-left: 1px;
        padding-left: 30px;
        max-width: 80%; 
        text-align: center;"><br>marcelo.augustovs99&#64;gmail.com</p>
        </div>

        
    <!-- contato do linkedin/link para o mesmo-->
        <div class="img-texto">
            <img style="margin-top: 15px;padding-right: -20; margin-left: 19px; height: 75px; width: 100px;"
            src="assets/_imagens/linkedin-icon.png" alt="Logo da FAB">
        
        <p 
        style=" margin-left: 1px;
        padding-left: 30px;
        max-width: 10%; 
        text-align: center;"><br>
        
        <a href="https://www.linkedin.com/in/devmarceloaugusto/" target="_blank">linkedin/in/devmarceloaugusto/</a>
        </p>
        </div>

    
 <!-- utilizado para css-->
 <footer id="rodape">
 </footer>
</div>