<div class="experiencia-wrapper">

    <section id="corpo">
        <h2>Projetos</h2>
        <article *ngIf="projectList.length > 0">
            <app-videoContainer [projectName]="projectList[currentIndex].name"
                [techUsed]="projectList[currentIndex].techs"
                [projectDescription]="projectList[currentIndex].description"
                [preview]="projectList[currentIndex].previewLink" [github]="projectList[currentIndex].githubLink"
                (next)="proximoProjeto()" (previous)="projetoAnterior()"></app-videoContainer>
        </article>
    </section>

    <!-- lado direito do conteudo/experiencias-->
    <aside id="lateral">
        <h1 class="titulo-experiencia">Experiências</h1>

        <div class="exp-card" *ngIf="experienceList.length > 0">

            <div class="exp-header">
                <img [src]="experienceList[currentExpIndex].companyLogo"
                    [alt]="'Logo ' + experienceList[currentExpIndex].companyName">

                <div class="exp-title">
                    <h3>{{ experienceList[currentExpIndex].companyName }}</h3>
                    <h4>{{ experienceList[currentExpIndex].role }}</h4>
                    <span class="exp-periodo">{{ experienceList[currentExpIndex].period }}</span>
                </div>
            </div>

            <p class="exp-desc">
                {{ experienceList[currentExpIndex].description }}
            </p>

            <ul class="exp-list">
                <li *ngFor="let task of experienceList[currentExpIndex].tasks">{{ task }}</li>
            </ul>

            <div class="nav-buttons">
                <button mat-icon-button color="primary" (click)="experienciaAnterior()">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="proximaExperiencia()">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>
        </div>
    </aside>

</div>