/*Card-3d is global*/
article {
  margin-top: -50px;  
  display: flex;
  position: relative;
  align-items: center;          
  justify-content: center;     
  gap: 20px;                   
}

h2 {
     background-color: #C0D4D8;
     font-size: 17pt;
     padding: 10px;
     margin-top: 20px;
     color: #3B6064;
     font-style: italic; 
}


.display-projetos{
    display: flex;
    margin-top: -30px;
    text-align: center;
    align-items: center;
    justify-content: center; 
    height: 700px;
    width: 98%;
}

.display-projetos ul{
    display: none;
}

.display-projetos ul[projeto-selecionado]{
    display: inline-block;
    background-color: #C0D4D8;
    border: solid 0.1px #ccc;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
    transition: all 0.3s ease; 
    width: 100%;
}

.display-projetos h3 {
    text-align: center;
    color: white;
}

/* aside*/
/* título */
.titulo-experiencia{
    background: #e9ecef;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* CARD */
.exp-card{
    background: #fdfdfd;
    border-radius: 16px;
    padding: 28px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    transition: 0.35s;
}

.exp-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 18px 40px rgba(0,0,0,0.2);
}


/* topo do card */
.exp-header{
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 15px;
}

.exp-header img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #e9ecef;
}


/* títulos */
.exp-title h3{
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #2c3e50;
}

.exp-title h4{
    margin: 3px 0;
    color: #ff7b00;
    font-weight: 600;
    font-size: 18px;
}


.exp-periodo{
    font-size: 14px;
    color: #6c757d;
    font-weight: 500;
}


/* descrição */
.exp-desc{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    margin: 18px 0 22px 0;
    color: #444;
}


/* lista */
.exp-list{
    list-style: none;
    padding: 0;
}

.exp-list li{
    margin: 10px 0;
    padding-left: 26px;
    position: relative;
    line-height: 1.5;
}


.exp-list li::before{
    content: "✔";
    position: absolute;
    left: 0;
    color: #28a745;
    font-weight: bold;
}


