<div id="interface">
    
    <section id="corpo" class="card-3d">
        <h2>Projetos</h2>
        <article *ngIf="projectList.length > 0">
            <app-videoContainer
                [projectName]="projectList[currentIndex].name"
                [techUsed]="projectList[currentIndex].techs"
                [projectDescription]="projectList[currentIndex].description"
                [preview]="projectList[currentIndex].previewLink"
                [github]="projectList[currentIndex].githubLink"
                (next)="proximoProjeto()"
                (previous)="projetoAnterior()"
            ></app-videoContainer>
        </article>
    </section>

    <!-- lado direito do conteudo/experiencias-->
     <aside id="lateral" class="card-3d">
        <h1 class="titulo-experiencia">Experiências</h1>

        <div class="exp-card">

            <div class="exp-header">
            <img src="assets/_imagens/FAB.jpg" alt="Logo FAB">

            <div class="exp-title">
                <h3>Força Aérea Brasileira</h3>
                <h4>Setor Administrativo • EFM/GSD-GL</h4>
                <span class="exp-periodo">Duração: 2018 — 2022 • 4 anos</span>
            </div>
            </div>

            <p class="exp-desc">
            Responsável pela área administrativa do setor de recrutamento,
            apoiando processos internos e gestão de militares.
            </p>

           <!-- <h1>Atividades:</h1> -->

            <ul class="exp-list">
            <li>Gestão administrativa de 250–350 militares por semestre</li>
            <li>Processo de iniciação de novos militares</li>
            <li>Controle de dados pessoais, auxílios, transgressões e escalas</li>
            <li>Apoio em instruções militares e regulamentos</li>
            <li>Registro médico de novos militares</li>
            <li>Controle de entrada/saída de materiais e ordens de missão</li>
            </ul>

        </div>
    </aside>
     <!-- utilizado para css-->
     <footer id="rodape">
     </footer>
</div>
