<div id="interface">

    <!-- Menu principal de navegação do portifolio -->
        <header id="cabecalho">
            <hgroup>
                <h1>Dev Marcelo Augusto</h1>
                <h2>Desenvolvedor e Analista de Sistemas</h2>
            </hgroup>
            
            <img id="icone" src="assets/_imagens/dev-marcelo-icone.png" alt="foto de um dev codando">
            
        </header>

     <!-- Descrição Sobre a formação -->
     <section id="corpo">
        <article> 
            
         <h2>Projetos</h2>
            <ul>
                <li>
                    <h3>Simple Adventure(Game-Demo)</h3>
                    <img src="assets/_imagens/especificacoes-02.png" alt="">
                    <p>
                        Desenvolvido uma demo de um jogo em 2d utilizando Python/pygame.
                        Requisitada como uma atividade academica, porem contem muitas melhorias, pois foi desenvolvida pensando em escalabilidade e clean code para melhor suporte/manuntenção futuras.  
                        <br> <br>
                        Animações criada dinamicamente a parti das sprites, possui um banco de dados para registrar o "score"(SqLite3), arquitetura contendo padrões de desing pattern, fiz tambem algumas modificações nas artes utilizando GIMP.
                        <br> <br>
                        Todas as artes, audios e músicas tem suas licensas e uso, respeitando e seguindo conforme orienta a LGPD ( Leis gerais de proteção de dados), o Download do executavel estará disponível em breve.
                    </p>
                    <a href="https://github.com/Marcelo-Augustovs/gameDemo" target="_blank">Simple Adventure preview</a>
                </li>
            </ul>

            <ul>
                <li>
                    <h3>MaNotes ( My Auxiliar Notes)</h3>
                        <img src="assets/_imagens/especificacoes-02.png" alt="">
                        <p>Um sotware para gerenciamento de anotações, controle financeiro e agendamento de eventos com notificações.
                            <br> <br>              
                        Backend: Java, Spring Boot, Spring Security               (autenticação JWT), MySQL (produção) e H2 (testes).
                            <br> <br>
                        Frontend: JavaFX.
                        Destaques: API REST local, integração segura com JWT, armazenamento offline e
                        interface intuitiva.
                    </p>
                    <a href="https://github.com/Marcelo-Augustovs/maNotes" target="_blank">MaNotes preview</a>
                </li>
            </ul>


            <ul>
                <li>
                    <h3>Demopark</h3>
                    <img src="assets/_imagens/especificacoes-02.png" alt="">
                    <p>Desenvolvendo uma API que fara o controle de um estacionamento.
                        <br>
                        Ela tera um sistema de autenticação,gestão das vagas e clientes e tambem cuidara das regras de negocio, como calcular valor, desconto e etc.
                        <br> <br>
                        Backend: Java, Spring boot, Spring Security               (autenticação JWT), MySQL (produção) e H2 (testes), Jasper reports para imprimir relatórios.
                    </p>
                    <a href="https://github.com/Marcelo-Augustovs/demopark" target="_blank">demopark preview</a>
                </li>
            </ul>

            <ul>
                <li>
                    <h3>Portfolio</h3>
                    <img src="assets/_imagens/especificacoes-02.png" alt="">
                    <p>Desenvolvendo uma API Web, com fim de exibição de trabalhos concluidos ou em desenvolvimento, afim de promover curriculo profissional
                        <br> <br>
                        Sua implementação utiliza Angular, Html, Css e TypeScript.
                        <br> <br>
                        Utiliza arquitetura SPA (Simple page Aplication)
                    </p>
                    <a href="https://marcelo-augustovs.github.io/portfolio/" target="_blank">preview</a>
                </li>
            </ul>
        </article>
     </section>

    <!-- lado direito do conteudo/experiencias-->
     <aside id="lateral">
        <h1>Experiências</h1>
        
        <div class="img-texto">
            <img style="margin-top: 2px;padding-right: -20; margin-left: 14px;"
            src="assets/_imagens/FAB.jpg" alt="Logo da FAB">
        
        <h3>FAB( Força Aérea Brasileira ) BAGL/GSD-GL - 4 anos.</h3>
        </div>

        <p >
            Responsável pela parte Administrativa do setor de Recrutamento.
            
            <span> Duração: 2018 - 2022.</span>
            <span class="destaque-centro"> Atividades: </span>                          
        </p>
            <ul>
                    <li>
                        Rotinas administrativas e de departamento pessoal de 250 à 350 militares sob
                         responsabilidade semestralmente;
                    </li>
                    <li>
                        Realizar a iniciação na carreira dos militares;
                    </li>    
                    <li>   
                        Responsável por dados pessoais, auxílios, transgressões e escalas;
                    </li>     
                   
                    <li>
                        Auxiliar nas instruções: ordem unida, hinos e canções, regulamento e instituto militar;
                    </li> 
                    <li>   
                        Controle e registro médico dos novos militares;
                    </li> 
                    <li>  
                        Protocolar e registrar à entrada e saída de matérias e as ordem de missão
                    </li>
                </ul>
     </aside>
       
     <!-- utilizado para css-->
     <footer id="rodape">
     </footer>
    </div>
