<div class="home-wrapper">
   <section id="corpo">
      <article class="formacao-article">
         <h2>Formação Academica</h2>

         <div class="img-texto">
            <img src="assets/_imagens/uninter.webp" alt="Logo da Uninter">
            <p>Análise e desenvolvimento de sistemas</p>
         </div>
         <p class="ano-texto">ano: 2026</p>

         <div class="image-side-right">
            <h2>Cursos e Certificados</h2>
            <div class="fundo-imagem">
               <img src="assets/_imagens/graduado_icon.webp" alt="Graduado">
            </div>
            <div class="cursos-list-container">
               <ul>
                  <li *ngFor="let curso of cursos">{{ curso }}</li>
               </ul>
            </div>
         </div>
      </article>
   </section>

   <aside id="lateral" class="tech-image">
      <h2 class="card-title">Tecnologias</h2>
      <div class="background-content">
         <div class="tablet-wrapper">
            <img src="assets/_imagens/habilidade-tecnologias.webp" alt="Tablet tecnologias" class="tablet-img">

            <div class="screen-area">
               <app-tech-icons></app-tech-icons>
            </div>
         </div>
      </div>
   </aside>
</div>