<div id="interface">

<!-- Descrição Sobre mim -->
<section id="corpo">
    <article> 
     <h2>Formação Academica</h2>

     <div class="img-texto">
        <img src="assets/_imagens/uninter-logo.png" alt="Logo da Uninter">
        <p>Analíse e desenvolvimento de sistemas</p>
    </div>
    <p style="text-align: right;font-size: 12px; margin: -10px; margin-right: 12px;">ano: 2026</p>
        
     <h2>Cursos e Certificados</h2>
     <ul>
        <li>Java Basico - Curso em video</li>
        <li>Programação Orientada a Objeto - Udemy</li>
        <li>Api Rest e Spring Boot - Udemy</li>
        <li>MySQL - Udemy/Curso em video</li>
        <li>HTML, CSS, JavaScript - Udemy/Dev Quest</li>
        <li>Angular - Uninter(Academico)</li>
        <li>Python - Uninter(Academico)</li>
        <li>Operador de computador(pacote office) - Prepara cursos</li>
        <li>Montagem e manuntenção de computadores - Prepara</li>
        <li>inglês - Curso Beway/Senac</li>

     </ul>   
  
    
    
    </article>
 </section>

    
 <!-- conteudo do lado direito da pagina-->
 <aside id="lateral">
    <h1>Tecnologias</h1>
    <img style="margin-top: 1px;" src="assets\_imagens\stacks.png" alt="foto das tecnologias usadas">
 </aside>
   
 
 <!-- utilizado para css-->
 <footer id="rodape">
 </footer>

</div>