@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@font-face {
    font-family: 'Fontelogo';
    src: url(../_fonts/bubblegum-sans-regular.otf);
}
/*configurações gerais das paginas */
body{
    font: normal 18pt Arial;
    background-color: #55828B;
}


div#interface {
    background-color: white;
    width: 88.5%;
    margin-left: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.6);
    padding: 10px;
    display: flex;
}

    .interface {
        position: relative; 
    }

    p{
        text-align: justify;
        text-indent: 50px;
    }


   
/*Conteudo das paginas */
section#corpo {
    display: inline-block;
    width: 50%;
    border-right:1px solid #606060;
    padding-right: 15px;
    
}

    section#corpo article h2{
        background-color: #C0D4D8;
        font-size: 17pt;
        padding: 10px;
        margin-top: 20px;
        color: #3B6064;
        font-style: italic; 
    }
    
    section#corpo h3{
        color: #8AC926;
        font-size: 15pt;
        padding: 0px;
    }

    section#corpo h3 span{
        display: block;
        float: right;
        color: #606060;
        font-size: 15px;

    }

    section#corpo p{
      font-family: Georgia, serif;
      font-size: 15pt;
      font-style: italic;
    }

    section#corpo li{
      font-family: Georgia, serif;
      font-size: 15pt;
    }

/* conteudo do lado direito da pagina */
aside#lateral{
    display: block;
    width: 42%;
    padding-left: 20px;
}

    aside#lateral h1{
        background-color: #dddddd;
        font-size: 17pt;
        padding: 2%;
        margin-top: 20px;
        width: 100%;
        
    }
     aside#lateral h3{
        font-size: 17pt;
        padding: 2%;
        margin-left: 25%;
        margin-top: 4%;
    }

    aside#lateral p{
        font-family: Times New Roman, serif;
        font-size: 14pt;
        margin-top: -3%;
        padding-left: 40px;
    }

     aside span{
        display: block;
        font-family: Times New Roman, serif;
        font-size: 14pt;
        margin-left: -11%;
        margin-top: 1%;
    }

    .destaque-centro{
        text-align: center;
        font-size: 16pt;
        margin-left: -16%;
        margin-bottom: -4%;
    }

    aside#lateral li{
        font-family: Times New Roman, serif;
        font-style: italic;
        font-size: 15pt;
        margin-bottom: 10px;
    }

    aside#lateral img{
    margin-left: 0%; 
    width: 100%;
    }

    .img-texto{
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
    }

    .img-texto img {
        float: left;
        margin-left: 60px;
        margin-right: 0px; 
        max-width: 20%;
    }

    .img-texto p{
        display: inline-block;
        margin-left: -10px;
        max-width: 55%; 
        text-align: center;
    }



/*Menu de navegação*/


    nav#menu a:hover{
        color: white;
        text-decoration: underline;
    }

    nav#menu h1{
        display: none;
    }

    nav#menu a {
        color: white;
        text-decoration: none;
        margin: 15px;
        font-size: 1.2rem;
        transition: color 0.3s, border-bottom 0.3s;
        padding: 5px;
        border-bottom: 2px solid transparent;
    }
    
    nav#menu a:hover,
    nav#menu a.active-link {
        color: #66ccff;
        border-bottom: 2px solid #66ccff;
    }
    
    /* Responsividade para telas menores */
    @media (max-width: 768px) {
        nav#menu {
        flex-direction: column;
        align-items: center;
        }
    
        nav#menu a {
        margin: 10px 0;
        font-size: 1.1rem;
        }
    }

footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
}