<header id="cabecalho">
  <nav id="menu">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" >Home</a></li>
      <li><a routerLink="/experiencia" routerLinkActive="active">Experiência</a></li>
      <li><a routerLink="/contato" routerLinkActive="active">Contato</a></li>
    </ul>
  </nav>
        <div id="perfil-image">
          <img src="assets/_imagens/dev-marcelo-icone.png" alt="foto de um dev codando">
        </div>
        <hgroup>
            <h1>Dev Marcelo Augusto</h1>
            <h2>Desenvolvedor e Analista de Sistemas</h2>
        </hgroup>
        
</header>   

<router-outlet></router-outlet>
