<div class="tech-container">
         <div class="icons">
            <img src="assets/_imagens/Angular-Dark.svg"
               (click)="openTech('angular')"
               alt="Angular">

            <img src="assets/_imagens/Java.svg"
                  (click)="openTech('java')"
                  alt="Java">

            <img src="assets/_imagens/TypeScript.svg" 
                  (click)="openTech('typescript')"
                  alt="TypeScript">

            <img src="assets/_imagens/JavaScript.svg"
                  (click)="openTech('javascript')"
                  alt="javaScript">

            <img src="assets/_imagens/MySQL-Light.svg" 
                  (click)="openTech('mysql')"
                  alt="mySQL">

            <img src="assets/_imagens/Spring-Light.svg" 
                  (click)="openTech('spring')"
                  alt="Spring">

            <img src="assets/_imagens/CSS.svg"
                  (click)="openTech('css')"
                  alt="Css">


            <img src="assets/_imagens/HTML.svg" 
                  (click)="openTech('html')"
                  alt="HTML">

            <img src="assets/_imagens/Python-Dark.svg"
                  (click)="openTech('python')"
                  alt="Python">

            <img src="assets/_imagens/Docker.svg"
                  (click)="openTech('docker')"
                  alt="Docker">

            <img src="assets/_imagens/Kubernetes.svg"
                  (click)="openTech('kubernetes')"
                  alt="Kubernetes">

            <img src="assets/_imagens/Git.svg"
                  (click)="openTech('git')"
                  alt="Git">
         </div>
</div>

<div class="tech-modal" *ngIf="selectedTech">
  <div class="modal-content">
    <h2>{{ selectedTech.name }}</h2>
    <p>{{ selectedTech.description }}</p>
    <button (click)="closeModal()">Fechar</button>
  </div>
</div>
